{% extends "mainApp/wrapper.html" %}
{% block content %}
{% load static %}
<div class="container">
    <hr>
    <div>
        <a href="https://dou.ua/lenta/tags/QA%20%D0%B4%D0%B0%D0%B9%D0%B4%D0%B6%D0%B5%D1%81%D1%82/"><img src="{% static 'images/Qa_digest.png' %} " class="img-thumbnail" style="width:300px;height:200px;">QA digest on DOU.ua</a>
    </div>
    <hr>
    <div>
        <a href="https://howtodoinjava.com/java-testng-tutorials/"><img src="{% static 'images/TESTNG.jpg' %}" class="img-thumbnail">HowToDoInJavaTestNG</a>
    </div>
    <hr>
    <div>
        <a href="https://pytest-django.readthedocs.io/en/latest/"><img src="{% static 'images/pytest-.jpg' %}" class="img-thumbnail">pytest-django</a>
    </div>
    <hr>
    <div>
        <a href="https://www.istqb.org/downloads/category/2-foundation-level-documents.html"><img src="{% static 'images/ISQTB.png' %}" style="width:400px;height:200px;" class="img-thumbnail">ISTQB</a>
    </div>
    <hr>
</div>
{% endblock %}
