{% extends "mainApp/wrapper.html" %}
{% block content %}
{% load staticfiles %}
<body style="background: #ffffff">
<div class="container" style="background: #dce1e1">
    <div class="container">
        <div>
        <img src="{% static 'images/0.jpeg' %}" class="img-thumbnail" align="right">
        </div>
    <div>
        <h1 align="top">Alexander Doroshenko</h1>
        </div>
    </div>
    <div class="parent">
        <div class="child">
        <h3>Email:</h3>
        </div>
        <div class="child">
        <a href="mailto:doroshenkoaldm@gmail.com">doroshenkoaldm@gmail.com</a>
        </div>
    </div>
    <div class="parent">
        <div class="child">
        <h3>Skype:</h3>
        </div>
        <div class="child">
        <a href="skype:live:68bb9144f3de2b4c?call">live:68bb9144f3de2b4c</a>
        </div>
    </div>
    <div class="parent">
        <div class="child">
        <h3>Phone/Telegram:</h3>
        </div>
        <div class="child">
        <a href="tg://resolve?domain=+380732278221?callto">+380732278221</a>
        </div>
    </div>
    <div class="parent">
        <div class="child">
        <h3>Linkedin:</h3>
        </div>
        <div class="child">
        <a href="https://www.linkedin.com/in/alexander-doroshenko-3a426a134/">Alexander Doroshenko</a>
        </div>
    </div>
    <div class="parent">
        <div class="child">
        <h3>Location:</h3>
        </div>
        <div class="child">
        <p>Odessa, Ukraine, willing to relocate.</p>
        </div>
    </div>

    <h3>Objective:</h3>
    <p>Long-term employment as a QA engineer, with the potential for growth as a QA automation engineer.</p>

    <h3>Summary:</h3>
    <p>Self-motivated, goal-oriented candidate, who is experienced in being attentive to details, responsible.
        Good team worker with excellent communication skills.</p>

    <h3>Technical  skills:</h3>
    <ul>
        <li>Clear understanding of software development life cycle;</li>
        <li>Theoretical knowledge of methodology, principles of software testing and software quality control techniques;</li>
        <li>Knowledge of test types and levels of testing;</li>
        <li>Experience performing functional tests and documenting overall results;</li>
        <li>Experience in writing bug-reports, test-cases, check-lists;</li>
        <li>Understanding of Agile methodologies;</li>
        <li>Understanding of OSI model;</li>
        <li>Knowledge Basic of HTML,CSS, SQL;</li>
        <li>Basic knowledge of Java;</li>
        <li>Basic knowledge of Python;</li>
        <li>Experience with such IDE as Python IDLE, PyCharm, Intellij IDEA, PhpShtorm;</li>
        <li>Experience with such tools as SikuliX, Postman, SOAPUI, Selenium, Wireshark, Putty, Fiddler;</li>
        <li>Experience with such bug tracking systems as Redmine, Jira;</li>
        <li>Experience with Unix system(terminal, bash scripts).</li>
    </ul>

    <h3>Experience:</h3>
    <p>November 2017- today</p>
    <p>UPITec Software Ltd.</p>
    <p>QA Engineer</p>
    <p>Participation:</p>
    <ul>
        <li>Manual testing of web projects, mobile projects, desktop projects;</li>
        <li>Requirements testing;</li>
        <li>Test design;</li>
        <li>Test execution;</li>
        <li>Bugs reporting.</li>
    </ul>
    <hr>
    <p>January 2017- October 2017</p>
    <p>TENET Scientific-Production Enterprise </p>
    <p>Technical Support Engineer</p>
    <p>Participation:</p>
    <ul>
        <li>Search and localization of connection problems;</li>
        <li>Network monitoring;</li>
        <li>Keeping a detailed history of cases in the tracking system;</li>
        <li>Handling internal support calls;</li>
        <li>Communication with other departments on the status of current cases.</li>
    </ul>
    <h3>Education:</h3>
    <p>Odessa Technical College of Odessa National Academy of Food Technologies (Odessa)</p>
    <p>Enterprise economy</p>
    <p>End date 2009</p>
    <h3>Language skills:</h3>
    <p>     English – B1+, lower intermediate (in the process of studying)</p>

    <h3>Courses, Trainings, Certification:</h3>
    <ul>
        <li>
            <p>Hillel(IT School)</p>  <p>Completed the Course of Java for QA Automation</p>                                                                                                                                                                  (Odessa)
            <p>End date 2019</p>
            <p>Gained knowledge of Programming fundamentals, Variables, For loop, Arrays, ArrayList, HashSet, HashMap,
            Object Oriented Programming Fundamentals, OOP in Java, Git, Java Exceptions, Class Inheritance, Maven,
            Intro to TestNG.</p>
        </li>
        <li>
            <p>SkillUp(IT School)</p>  <p>Completed the Course of BASIC WEB AND SQL for SOFTWARE TESTING</p>                                                                                                                                                                 (Odessa)
            <p>End date 2017</p>
            <p>Gained knowledge of HTML, CSS, SQL</p>
        </li>
        <li>
            <p>SkillUp(IT School)</p>  <p>Course of SOFTWARE TESTING (Odessa)</p>
            <p>End date 2017</p>
            <p>Basics of Software Testing</p>
        </li>
    </ul>
    <h3>Personality:</h3>
    <p>Communicative, honest, organized and friendly person, ability to think out of the box.
    </p>
</div>
{% endblock %}